# Set default behavior to automatically normalize line endings.
* text=auto

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf

# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico binary


# root = true

# [*]
# charset = utf-8
# indent_style = space
# indent_size = 2
# trim_trailing_whitespace = true
# # Unix-style newlines with a newline ending every file
# end_of_line = lf
# insert_final_newline = true

# [*.{js,css,scss}]
# quote_type = single

# [*.{yml,yaml}]
# quote_type = double

# [*.md]
# trim_trailing_whitespace = false